<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExpenseService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DeltekVisionOpenAPIWebServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/vision76/visionws.asmx"
          binding="basicHttpBinding" bindingConfiguration="DeltekVisionOpenAPIWebServiceSoap"
          contract="VisionAPI.DeltekVisionOpenAPIWebServiceSoap" name="DeltekVisionOpenAPIWebServiceSoap" />
    </client>
  </system.serviceModel>
  <userSettings>
    <ExpenseService.Properties.Settings>
      <setting name="IntervalInSeconds" serializeAs="String">
        <value>3600</value>
      </setting>
    </ExpenseService.Properties.Settings>
  </userSettings>
</configuration>