<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DeltekVisionOpenAPIWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/vision76/visionws.asmx"
                binding="basicHttpBinding" bindingConfiguration="DeltekVisionOpenAPIWebServiceSoap"
                contract="VisionAPI.DeltekVisionOpenAPIWebServiceSoap" name="DeltekVisionOpenAPIWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>